<!DOCTYPE html>
<html>
<head>

	<title></title>

</head>
<body>
	<h1>Fruits show page</h1>

	<a href="/fruits">Go Home</a>
	<h3>Fruit name: <%= fruit.name %></h3>
	<h4>Fruit color: <%= fruit.color %></h4>

	<% if(fruit.readyToEat === true) {%>
		<span>It is ready to eat</span>
	<% } else { %>
		<span>It is not ready to eat</span>
	<% } %>

	

</body>
</html>