<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>The missions, should you choose to accept them:</h1>
	
	<% for(let i = 0; i < missionsList.length; i++){ %>
		
		<a href="/Missions/<%= i %>"><h3><%= missionsList[i].name%></h3>

<% } %>


</body>
</html>